@inject NavigationManager navigationManager

<tr>
    <td>
        <NavLink href="@($"products/{Product.Id}")">
            @Product.Name
        </NavLink>
    </td>

    <td>@Product.Color</td>
    <td>@Product.Price</td>
    <td>
        <div>
             <NavLink class="btn btn-primary btn-circle" href="@( $"/products/Edit/{@Product.Id}" )">
                <span class="oi oi-plus" aria-hidden="true"></span>
            </NavLink>

            <button class="btn btn-primary btn-circle" title="Edit" @onclick="Edit">
                <span class="oi oi-plus" aria-hidden="true"></span>
            </button>          
        </div>
    </td>
</tr>

@code {

    [Parameter]
    public Product Product { get; set; }

    private void Edit()
    {
        navigationManager.NavigateTo($"/products/Edit/{Product.Id}");
    }
}